body{
    font-family:Microsoft JhengHei;
}

header{

}
h1{
    color:rgb(30, 3, 92);
    background-color:rgb(159, 185, 224);
    text-align: center;
    height: 82px;
    font-size: 60px;
    border: #0000ff 2px solid;
}

h2{
    color: blue;
        
}
section{
    background-color:rgb(52, 224, 17);
    border: rgb(255, 230, 0) 3px solid;
    padding: 20px;
    margin: 10px;
    
}

.粉綠色{
    background-color:rgb(164, 236, 56) ;

}

.top{
    background-color: rgb(52, 224, 17);
    border: rgb(255, 230, 0) 3px solid;
    padding: 20px;
    margin: 10px;
}

.photo1{
    width: 700px;
    height: 500px;
    background-image: url("https://dm2306files.storage.live.com/y4mdKRlk6pnorceD7V_p5Oiu0S3s01xm7NakvuY51p-dXw-_UjxHC92s4LLV2796gpb96tMngerwvZ8_t-oW3Xitvg5vBh9cJX7gGRTVruRAf_CNWZnFZZLxGaiEJOCo09fEx3r1EKpQ7FeGv2GC0x3tEzIuHediFH6TRAWD6F1uFHdtBxLIFHFtnn1dEP2zG0TOOBHD1H2WVebSQNUtwxQzw/20190227_204154.jpg?psid=1&width=764&height=573");
    background-size:cover;
    background-position: center;
     
}